build/bin
node_modules
frontend/dist/*
!frontend/dist/.gitkeep
frontend/coverage
# macOS
.DS_Store

# Editor
.vscode

# build package
*.exe
*.dmg
ExifFrame


.task

# Wails v3
bin/
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
frontend/bindings/
frontend/package.json.md5
build/ios/xcode/
build/android/app/

# reference files
reference/

#flake
.direnv
