build/bin
node_modules
frontend/dist

# macOS
.DS_Store

# Editor
.vscode

# build package
*.exe
*.dmg
ExifFrame


.task

# Wails v3
bin/
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
